<form>

    <div class="alert alert-success" [hidden]='success === null'>{{success}}</div>
    <div class="alert alert-danger" [hidden]='error === null'>{{error}}</div>

    <h4>User</h4>
    <br>

    <div class="form-group">
        <label>Id</label>
        <input type='text' [(ngModel)]="user.id" name='id' class="form-control" disabled>
    </div>

    <div class="form-group">
        <label for="userName">User name</label>
        <input id="userName" [(ngModel)]="user.userName" name='userName' class="form-control" />
    </div>

    <div class="form-group">
        <label for="firstName">First name</label>
        <input id="firstName" [(ngModel)]="user.firstName" name="firstName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="lastName">Last name</label>
        <input id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" [(ngModel)]="user.email" name="email" class="form-control" />
    </div>

    <button class="btn btn-primary" (click)=createAction() [disabled]='rowSelected'>Create</button>
    <button class="btn btn-primary" (click)="updateUserAction(user)" [disabled]="!rowSelected">Update</button>
    <button class="btn btn-primary" (click)='cancelAction()'>Cancel</button>

    <br><br>
    <!-- List -->
    <table class="table table-striped">
        <tr>
            <th>ID </th>
            <th>Username </th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Email</th>
            <th>Delete</th>
        </tr>

        <tr *ngFor="let user of users">
            <td>{{user.id}} </td>
            <td><a (click)="rowSelect(user)">{{user.userName}}</a></td>
            <td>{{user.firstName}} </td>
            <td>{{user.lastName}} </td>
            <td>{{user.email}} </td>
            <td><button class="btn btn-primary" (click)='deleteUserAction(user.id)'>Delete</button></td>
        </tr>
    </table>

</form>